* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.board__row {
    display: flex;
}

.board__block {
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 100px;
    background-color: rebeccapurple;
}

